<p>Thank you for registering with Chloroform</p>

<p>Before you can begin using Chloroform you need to verify your email address. Please click in the link below to verify</p>

<%= link_to verify_url(:token => @user.verification_token), verify_url(:token => @user.verification_token) %>
