<h3>Thank you for registering with Chloroform</h3>

<p>Before you can begin using Chloroform you need to verify your email address. Please click in the link below.</p>

<%= link_to verify_url(:token => @user.verification_token), verify_url(:token => @user.verification_token) %>

<p>If you didn't request verification you can ignore this email.</p>