<p>Reset</p>

<p>In order to verify you email address you need to click on the link below (or copy/paste into your borowser)</p>

<%= link_to verify_url(:token => @user.verification_token), verify_url(:token => @user.verification_token) %>
