<% title "Account" %>

<% if !current_user.validated %>
<div class="alert alert-info alert-block">
  <h4>Verify your email</h4>
  <p>Before you can begin using <strong>Chloroform</strong> you need to verify your email. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem deleniti tempora earum nam libero. Alias nemo debitis repellendus minus fugiat minima odit numquam at nobis quisquam nesciunt illum culpa.</p>
  <%= link_to "Request a new verification email", "#", :class => "btn btn-small btn-new-verification"  %>
</div>
<% end %>

<div class="alert alert-success alert-block">
  <h4>Your API key</h4>
  <p>To use <strong>Chloroform</strong> blah blah lorem <code>http://chloroform.codebiff.com/api/submit?api_key=<%= current_user.api_key -%></code> and Lorem ipsum dolor sit amet corporis quas.</p>
</div>

