<% title "Help" %>

<div class="well well-small">
  <h4>Form Action</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam molestias cum temporibus hic adipisci iusto aspernatur accusantium officiis enim aliquid iure quisquam asperiores omnis est officia voluptatem repudiandae. Neque exercitationem.</p>
  <p>Lorem ipsum dolor sit <code>Lorem ipsum dolor sit amet, consectetur adipisicing el</code> sonsectetur adipisicing elit. Doloribus rerum culpa possimus debitis in explicabo voluptatibus eligendi suscipit sunt earum natus tempora ipsa atque nobis delectus! Rerum deserunt minus atque.</p>
</div>

<div class="well well-small">
  <h4>Input Names</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam molestias cum temporibus hic adipisci iusto aspernatur accusantium officiis enim aliquid iure quisquam asperiores omnis est officia voluptatem repudiandae. Neque exercitationem.</p>
  <p>Lorem ipsum dolor sit <code>Lorem ipsum dolor sit amet, consectetur adipisicing el</code> sonsectetur adipisicing elit. Doloribus rerum culpa possimus debitis in explicabo voluptatibus eligendi suscipit sunt earum natus tempora ipsa atque nobis delectus! Rerum deserunt minus atque.</p>
</div>

<div class="well well-small">
  <h4>Confirmation URL</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam molestias cum temporibus hic adipisci iusto aspernatur accusantium officiis enim aliquid iure quisquam asperiores omnis est officia voluptatem repudiandae. Neque exercitationem.</p>
  <p>Lorem ipsum dolor sit <code>Lorem ipsum dolor sit amet, consectetur adipisicing el</code> sonsectetur adipisicing elit. Doloribus rerum culpa possimus debitis in explicabo voluptatibus eligendi suscipit sunt earum natus tempora ipsa atque nobis delectus! Rerum deserunt minus atque.</p>
</div>


<div class="well well-small">
  <h4>Confirmation URL</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam molestias cum temporibus hic adipisci iusto aspernatur accusantium officiis enim aliquid iure quisquam asperiores omnis est officia voluptatem repudiandae. Neque exercitationem.</p>
  <p>Lorem ipsum dolor sit <code>Lorem ipsum dolor sit amet, consectetur adipisicing el</code> sonsectetur adipisicing elit. Doloribus rerum culpa possimus debitis in explicabo voluptatibus eligendi suscipit sunt earum natus tempora ipsa atque nobis delectus! Rerum deserunt minus atque.</p>
</div>

<div class="well well-small">
  <h4>Form Action</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam molestias cum temporibus hic adipisci iusto aspernatur accusantium officiis enim aliquid iure quisquam asperiores omnis est officia voluptatem repudiandae. Neque exercitationem.</p>
  <p>Lorem ipsum dolor sit <code>Lorem ipsum dolor sit amet, consectetur adipisicing el</code> sonsectetur adipisicing elit. Doloribus rerum culpa possimus debitis in explicabo voluptatibus eligendi suscipit sunt earum natus tempora ipsa atque nobis delectus! Rerum deserunt minus atque.</p>
</div>