<% title "Welcome" %>

<div class="intro">
  <p><strong>Chloroform</strong> serves form data to your inbox. It's perfect for static sites or servers unable to deliver email.</p>
</div>

<div class="well well-small login-form">

<h3>Login - Register</h3>

<%= form_tag login_path, :class=>"form-inline" do %>
  <%= text_field_tag 'email', nil, :class => "input-xlarge", :placeholder => "your.email@example.com" %>
  <%= password_field_tag 'password', nil, :class => "input-xlarge", :placeholder => "*********" %>
  <%= submit_tag "Login", :class => "btn btn-info" %>
<% end %>

<span class="help-block">If your account doesn't exist one will be created for you.</span>

</div>